.ziltag-ziltag-preview {
  position: absolute;
  top: -18px;
  width: 172px;
  height: 60px;
}

.ziltag-ziltag-preview--right {
  left: 26px;
  background: url(preview-right.png);
}

.ziltag-ziltag-preview--left {
  left: -174px;
  background: url(preview-left.png);
}

.ziltag-ziltag-preview__board {
  width: 143px;
  margin: 10px;
  overflow: hidden;
}

.ziltag-ziltag-preview__board--right {
  margin-left: 19px;
}

.ziltag-ziltag-preview__board__content {
  height: 30px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, .87);
}

.ziltag-ziltag-preview__board__publisher {
  line-height: 1.2;
  color: rgba(83, 83, 83, .54);
}
