.ziltag-ziltag-preview--right {
    position: absolute;
    top: -18px;
    left: 36px;
}

.ziltag-ziltag-preview--left {
    position: absolute;
    top: -18px;
    left: -182px;
}

.ziltag-ziltag-preview__board {
    width: 150px;
    height: 40px;
    background: rgba(204, 204, 204, 0.4);
    border-radius: 5px;
    opacity: 0.9;
    padding: 10px;
    overflow: hidden;
    font-size: 15px;
}

.ziltag-ziltag-preview__left-arrow {
    position: absolute;
    top: 20px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid rgba(204, 204, 204, 0.4);
}

.ziltag-ziltag-preview__right-arrow {
    position: absolute;
    top: 20px;
    left: 170px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left:10px solid rgba(204, 204, 204, 0.4);
}
