@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

.ziltag-ziltag-preview {
  position: absolute;
  width: 172px;
  height: 60px;
  font-family: Roboto;
}

.ziltag-ziltag-preview--right {
  background: url(preview-right.png);
}

.ziltag-ziltag-preview--upper-right {
  background: url(preview-upper-right.png);
}

.ziltag-ziltag-preview--lower-right {
  background: url(preview-lower-right.png);
}

.ziltag-ziltag-preview--left {
  background: url(preview-left.png);
}

.ziltag-ziltag-preview--upper-left {
  background: url(preview-upper-left.png);
}

.ziltag-ziltag-preview--lower-left {
  background: url(preview-lower-left.png);
}

.ziltag-ziltag-preview__board {
  width: 143px;
  margin: 10px;
  overflow: hidden;
}

.ziltag-ziltag-preview__board--left,
.ziltag-ziltag-preview__board--upper-left,
.ziltag-ziltag-preview__board--lower-left {
  margin-left: 19px;
}

.ziltag-ziltag-preview__board__content {
  height: 30px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, .87);
}

.ziltag-ziltag-preview__board__publisher {
  height: 14px;
  color: rgba(83, 83, 83, .54);
}
