.ziltag-login-btn {
    position: fixed;
    top: 80px;
    right: 25%;
    width: 50px;
    height: 50px;
    background: url('img/logo.png') center no-repeat;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 50);

    {
        &:hover {
            background: url('img/login-text.png') 12px 18px no-repeat;
        }

        &:not(:active) {
            transition: background-color 100ms step-end;
        }

        &:active {
            background: #d3d3d3;
        }

        &:focus {
            outline: none;
        }
    }
}

.ziltag-login-form {
    display: none;
    position: fixed;
    top: 185px;
    right: 24%;
    padding: 5px;
    width: 300px;
    height: 211px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 50);

    {
        input:focus {
            outline: none;
        }

        &:before {
            content: '';
            position: absolute;
            top: -13px;
            right: 24px;
            width: 24px;
            height: 24px;
            background: white;
            border-top: 1px solid rgb(200, 200, 200);
            border-left: 1px solid rgb(200, 200, 200);
            transform: rotate(45deg);
        }
    }
}

.ziltag-login-form-active {
    display: block;
}

.ziltag-login-form-board {
    width: 274px;
    height: 104px;
    margin: 12px 10px 10px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;

    {
        input {
            width: 194px;
            height: 49px;
            font-size: 16px;
            border: none;
            margin-left: 15px;
            padding-left: 42px;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid rgb(151, 151, 151);
            margin: 0 15px;
            padding: 0;
        }
    }
}

.ziltag-login-form-submit {
    width: 273px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: rgb(151, 151, 151);
    color: white;
    font-size: 18px;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.ziltag-login-form-email {
    background: 0 15px url('img/email-icon.png') no-repeat;
}

.ziltag-login-form-password {
    background: 0 12px url('img/password-icon.png') no-repeat;
}
