.ziltag-login-btn {
    width: 50px;
    height: 50px;
    background: url('img/logo.png') center no-repeat;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 50);

    {
        &:hover {
            background: url('img/login-text.png') 12px 18px no-repeat;
        }

        &:not(:active) {
            transition: background-color 100ms step-end;
        }

        &:active {
            background: #d3d3d3;
        }

        &:focus {
            outline: none;
        }
    }
}
