.ziltag-login-btn {
    position: fixed;
    z-index: 2;
    top: 80px;
    right: 25%;
    width: 50px;
    height: 50px;
    background: white url('img/logo.png') center no-repeat;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 50);

    {
        &.ziltag-login-btn--unauth:hover {
            background: white url('img/login-text.png') 12px 18px no-repeat;
        }

        &.ziltag-login-btn--unauth:not(:active) {
            transition: background-color 100ms step-end;
        }

        &.ziltag-login-btn--unauth:active {
            background: #d3d3d3;
        }

        &:focus {
            outline: none;
        }
    }
}

.ziltag-login-form {
    display: none;
    position: fixed;
    top: 185px;
    right: calc(25% - 12px);
    padding: 5px;
    width: 300px;
    height: 211px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 50);

    {
        input:focus {
            outline: none;
        }

        &:before {
            content: '';
            position: absolute;
            top: -13px;
            right: 24px;
            width: 24px;
            height: 24px;
            background: white;
            border-top: 1px solid rgb(200, 200, 200);
            border-left: 1px solid rgb(200, 200, 200);
            transform: rotate(45deg);
        }
    }
}

.ziltag-login-form-board {
    width: 274px;
    height: 104px;
    margin: 12px 10px 10px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;

    {
        input {
            width: 194px;
            height: 49px;
            font-size: 16px;
            border: none;
            margin-left: 15px;
            padding-left: 42px;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid rgb(151, 151, 151);
            margin: 0 15px;
            padding: 0;
        }
    }
}

.ziltag-login-form-submit {
    width: 273px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: rgb(151, 151, 151);
    color: white;
    font-size: 18px;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.ziltag-login-form-email {
    background: 0 15px url('img/email-icon.png') no-repeat;
}

.ziltag-login-form-password {
    background: 0 12px url('img/password-icon.png') no-repeat;
}

.ziltag-toolbar {
    display: none;
    position: fixed;
    z-index: 1;
    top: 107px;
    background: white;
    border-radius: 7px;
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 50);
    opacity: 0.88;
}

.ziltag-toolbar--shrink {
    display: block;
    width: 38px;
    height: 38px;
    right: calc(25% + 6px);
}

.ziltag-toolbar--expansion {
    display: block;
    width: 53px;
    height: 120px;
    right: calc(25% - 1px);

    {
        .ziltag-toolbar-ziltag {
            display: block;
            margin: 40px auto 30px;
        }
    }
}

.ziltag-toolbar-open {
    width: 38px;
    height: 38px;
    background: 7px 28px url('img/arrow-down.png') no-repeat;
}

.ziltag-toolbar-close {
    display: none;
    width: 53px;
    height: 7px;
    background: 14px 0 url('img/arrow-up.png') no-repeat;
}

.ziltag-toolbar-ziltag {
    display: none;
    width: 48px;
    height: 39px;
    background: url('img/ziltag.png');
}

.ziltag-edit-cover {
    display: none;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(158, 158, 158);
    opacity: 0.68;
}

@keyframes load_edit_board {
    0% {
        transform: translateX(-470px);
    }
    100% {
        transform: translateX(0);
    }
}

.ziltag-edit-board {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 470px;
    height: 563px;
    background: white;
    animation-name: load_edit_board;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

.ziltag-edit-board-head {
    margin: 10px auto;
    font-size: 14px;
    width: 56px;
}

.ziltag-edit-board-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url('img/edit-cancel.png') no-repeat;
    cursor: pointer;
}

.ziltag-edit-board-panel {
    padding: 10px;
}

.ziltag-edit-board-panel-title {
    width: 100%;
    border: none;
    font-size: 20px;
    color: rgb(83, 83, 83);

    {
        &:focus {
            outline: none;
        }
    }
}

.ziltag-edit-board-panel-editor {
    overflow: scroll;
    height: 200px;
}

.ziltag-edit-board-panel-hashtags {
    overflow: scroll;
    height: 50px;
    padding: 4px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.ziltag-edit-board-panel-hashtags-input {
    border: none;
    height: 100%;

    {
        &:focus {
            outline: none;
        }
    }
}

.ziltag-edit-board-panel-hashtags-hashtag {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #a5d24a;
    background: #cde69c;
    color: #638421;
}

.ziltag-edit-board-panel-hashtags-hashtag-cancel {
    display: inline-block;
    margin-left: 5px;
    color: #82ad2b;
    cursor: pointer;
}

.ziltag-edit-board-panel-submit {
    position: relative;
    float: right;
    margin-top: 20px;
    width: 57px;
    height: 28px;
    background: rgb(151, 151, 151);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    {
        &:hover {
            background: red;
        }
    }
}
