.ziltag-co-div {
  position: relative;
  background: white;
  opacity: .95;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
}

.ziltag-co-div::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent white white;
  transform-origin: 0 0;
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.12);
}

.ziltag-co-div--right::before {
  top: 20px;
  left: 0;
  transform: rotate(45deg);
}

.ziltag-co-div--left::before {
  top: 40px;
  right: -14px;
  transform: rotate(225deg);
}
