:root {
  --ziltag-radius: 10px;
  --ziltag-diameter: calc(var(--ziltag-radius) * 2);
  --ziltag-border: 1px;
  --ziltag-halo-diameter: 60px;
}

.ziltag-ziltag {
  position: absolute;
  width: var(--ziltag-diameter);
  height: var(--ziltag-diameter);
  background: rgba(238, 46, 36, 1);
  border: var(--ziltag-border) solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0 6px 2px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  cursor: pointer;
}

.ziltag-ziltag::before {
  content: '';
  position: absolute;
  width: var(--ziltag-halo-diameter);
  height: var(--ziltag-halo-diameter);
  top: calc((var(--ziltag-diameter) - 2 * var(--ziltag-border)) / 2 - var(--ziltag-halo-diameter) / 2);
  left: calc((var(--ziltag-diameter) - 2 * var(--ziltag-border)) / 2 - var(--ziltag-halo-diameter) / 2);
  border-radius: 50%;
  background: rgba(239, 146, 141, .7);
  box-sizing: border-box;
  animation: ziltag-pulse 2s infinite;
}

.ziltag-ziltag:hover::before {
  display: none;
}

@keyframes ziltag-pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.2);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
