:root {
  --ziltag-diameter: 10px;
  --ziltag-border: 1px;
  --ziltag-wave-diameter: 80px;
  --ziltag-wave-border: 10px;
}

.ziltag-ziltag {
  position: absolute;
  width: var(--ziltag-diameter);
  height: var(--ziltag-diameter);
  background: rgba(238, 46, 36, .9);
  border: var(--ziltag-border) solid rgba(255, 255, 255, .9);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.ziltag-ziltag::before {
  content: '';
  position: absolute;
  width: var(--ziltag-wave-diameter);
  height: var(--ziltag-wave-diameter);
  top: calc((var(--ziltag-diameter) - 2 * var(--ziltag-border)) / 2 - var(--ziltag-wave-diameter) / 2);
  left: calc((var(--ziltag-diameter) - 2 * var(--ziltag-border)) / 2 - var(--ziltag-wave-diameter) / 2);
  border-radius: 50%;
  background: rgba(239, 146, 141, .7);
  border: var(--ziltag-wave-border) solid rgba(239, 146, 141, .7);
  box-sizing: border-box;
  animation: ziltag-pulse 2s infinite;
}

@keyframes ziltag-pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
