.ziltag-ziltag {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(ziltag.png);
  cursor: pointer;
}

.ziltag-ziltag::before {
  content: '';
  display: block;
  position: relative;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  box-shadow: 0 0 3px black, inset 0 0 3px black;
  animation-name: ziltag-bubble;
  animation-duration: .38s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ziltag-bubble {
  from {
    width: 24px;
    height: 24px;
    top: -3px;
    left: -3px;
  }

  to {
    width: 34px;
    height: 34px;
    top: -8px;
    left: -8px;
  }
}
