.ziltag-ziltag-reader {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  border: 0;
}

.ziltag-ziltag-reader--mobile {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: left .7s;
}

.ziltag-ziltag-reader-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

.ziltag-ziltag-reader-cover--mobile {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: none;
}

body.ziltag-ziltag-reader-activated {
  overflow: hidden;
}

body.ziltag-ziltag-reader-activated--mobile {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

html.ziltag-ziltag-reader-activated--mobile {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body.ziltag-ziltag-reader-activated--mobile .ziltag-ziltag-reader--mobile {
  left: 0;
}
