.ziltag-ziltag-reader {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  border: 0;
}

.ziltag-ziltag-reader--mobile {
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  transition: left .3s;
}

body.ziltag-ziltag-reader-activated {
  overflow: hidden;
}

body.ziltag-ziltag-reader-activated--mobile {
  position: relative;
}

body.ziltag-ziltag-reader-activated .ziltag-ziltag-reader--mobile {
  left: 0;
}
