.ziltag-ziltag-reader {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  border: 0;
}

.ziltag-ziltag-reader-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
