.ziltag-ziltag-preview {
  position: relative;
  padding: 12px;
  font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.ziltag-ziltag-preview__author {
  color: rgb(151, 151, 151);
}

.ziltag-ziltag-preview__content {
  color: rgb(51, 51, 51);
}

.ziltag-ziltag-preview__avatar {
  width: 38px;
  height: 38px;
}

.ziltag-ziltag-preview .ziltag-ziltag-preview__avatar {
  position: absolute;
  top: 0;
  right: 0;
}
